In [1]:
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

print('Connected to MongoDB')

Connected to MongoDB

In [4]:
collection.delete_many({})

employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Contoh Query Data (Read)
for employee in collection.find():
    print(employee)

Data inserted
{'_id': ObjectId('690b4af34ac7c37c5638043c'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}

In [22]:
collection.delete_many({})

employee_data = {'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
collection.insert_one(employee_data)

collection.insert_many([
    {'name': 'Jin Kazama', 'department': 'Enginner', 'age': 31, 'salary': 6000},
    {'name': 'Leon', 'department': 'Enginner', 'age': 26, 'salary': 6200},
    {'name': 'Mario', 'department': 'Finance', 'age': 35, 'salary': 7000}
])

collection.update_one({'name': 'Alice'}, {'$set': {'salary': 5000}})

collection.delete_one({'name': 'Mario'})

for doc in collection.find():
    print(doc)

{'_id': ObjectId('690b4efc4ac7c37c5638044b'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 5000}
{'_id': ObjectId('690b4efc4ac7c37c5638044c'), 'name': 'Jin Kazama', 'department': 'Enginner', 'age': 31, 'salary': 6000}
{'_id': ObjectId('690b4efc4ac7c37c5638044d'), 'name': 'Leon', 'department': 'Enginner', 'age': 26, 'salary': 6200}

In [7]:
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Enginner', 'average_salary': 6100.0}
{'_id': 'Finance', 'average_salary': 5000.0}

In [9]:
products_data = [
    {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 15},
    {'name': 'Mouse', 'category': 'Electronics', 'price': 40, 'stock': 50},
    {'name': 'Keyboard', 'category': 'Electronics', 'price': 100, 'stock': 30},
    {'name': 'Monitor', 'category': 'Electronics', 'price': 300, 'stock': 20},
    {'name': 'Desk Chair', 'category': 'Furniture', 'price': 150, 'stock': 25},
    {'name': 'Desk Lamp', 'category': 'Furniture', 'price': 30, 'stock': 60},
    {'name': 'Coffee Maker', 'category': 'Appliances', 'price': 80, 'stock': 40},
    {'name': 'Blender', 'category': 'Appliances', 'price': 60, 'stock': 30},
    {'name': 'Notebook', 'category': 'Stationery', 'price': 5, 'stock': 100},
    {'name': 'Pen Set', 'category': 'Stationery', 'price': 10, 'stock': 80}
]

collection.insert_many(products_data)
print("10 products inserted.")

10 products inserted.

In [12]:
avg_pipeline = [
    {'$group': {'_id': None, 'avg_price': {'$avg': '$price'}}}
]

avg_result = list(collection.aggregate(avg_pipeline))

if avg_result:
    avg_price = avg_result[0]['avg_price']
    print(f"Rata-rata harga: {avg_price}")

    print("\n--- Produk di atas harga rata-rata ---")
    query_filter = {'price': {'$gt': avg_price}}
    for product in collection.find(query_filter):
        print(product)

Rata-rata harga: 197.5

--- Produk di atas harga rata-rata ---
{'_id': ObjectId('690b4be64ac7c37c56380441'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 15}
{'_id': ObjectId('690b4be64ac7c37c56380444'), 'name': 'Monitor', 'category': 'Electronics', 'price': 300, 'stock': 20}

In [20]:
collection.delete_many({'$or': [{'category': None}, {'category': {'$exists': False}}]})

category_pipeline = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
]
print("\n--- Total Produk per Kategori ---")
for result in collection.aggregate(category_pipeline):
    print(result)

--- Total Produk per Kategori ---
{'_id': 'Appliances', 'total_products': 2}
{'_id': 'Electronics', 'total_products': 4}
{'_id': 'Furniture', 'total_products': 2}
{'_id': 'Stationery', 'total_products': 2}

In [28]:
collection.delete_many({})

employee_data = {'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
collection.insert_one(employee_data)

collection.insert_many([
    {'name': 'Jin Kazama', 'department': 'Engineering', 'age': 35, 'salary': 12000},
    {'name': 'Leon', 'department': 'Security', 'age': 33, 'salary': 6000},
    {'name': 'Mario', 'department': 'Finance', 'age': 35, 'salary': 12000},
    {'name': 'Hunk', 'department': 'IT', 'age': 25, 'salary': 8500},
    {'name': 'Adam Wesker', 'department': 'Engineering', 'age': 28, 'salary': 10000},
    {'name': 'Cloud', 'department': 'Security', 'age': 42, 'salary': 7500},
    {'name': 'Sepiroth', 'department': 'Finance', 'age': 28, 'salary': 9000},
    {'name': 'Makoto Yuki', 'department': 'IT', 'age': 33, 'salary': 9500},
    {'name': 'Dante', 'department': 'Engineering', 'age': 40, 'salary': 15000},
    {'name': 'Vergil', 'department': 'Security', 'age': 45, 'salary': 8000},
    {'name': 'Yixuan', 'department': 'Finance', 'age': 32, 'salary': 11000},
    {'name': 'Banyue', 'department': 'IT', 'age': 23, 'salary': 8000},
    {'name': 'Robin', 'department': 'Engineering', 'age': 30, 'salary': 11500},
    {'name': 'Firefly', 'department': 'Security', 'age': 36, 'salary': 6500},
    {'name': 'Elysia', 'department': 'Finance', 'age': 30, 'salary': 10000},
    {'name': 'Hornet', 'department': 'IT', 'age': 27, 'salary': 9000},
    {'name': 'Low', 'department': 'Engineering', 'age': 38, 'salary': 13500},
    {'name': 'Alone', 'department': 'Security', 'age': 39, 'salary': 7000},
    {'name': 'Kratos', 'department': 'IT', 'age': 29, 'salary': 9200},
])

top_5_pipeline = [
    {'$sort': {'salary': -1}},
    
    {'$group': {
        '_id': '$department',
        'employees': {'$push': {'name': '$name', 'salary': '$salary'}}
    }},

    {'$project': {
        'top_5_employees': {'$slice': ['$employees', 5]}
    }}
]

print("\n--- Top 5 Gaji per Departemen ---")
for result in collection.aggregate(top_5_pipeline):
    print(result)

--- Top 5 Gaji per Departemen ---
{'_id': 'Security', 'top_5_employees': [{'name': 'Vergil', 'salary': 8000}, {'name': 'Cloud', 'salary': 7500}, {'name': 'Alone', 'salary': 7000}, {'name': 'Firefly', 'salary': 6500}, {'name': 'Leon', 'salary': 6000}]}
{'_id': 'IT', 'top_5_employees': [{'name': 'Makoto Yuki', 'salary': 9500}, {'name': 'Kratos', 'salary': 9200}, {'name': 'Hornet', 'salary': 9000}, {'name': 'Hunk', 'salary': 8500}, {'name': 'Banyue', 'salary': 8000}]}
{'_id': 'Engineering', 'top_5_employees': [{'name': 'Dante', 'salary': 15000}, {'name': 'Low', 'salary': 13500}, {'name': 'Jin Kazama', 'salary': 12000}, {'name': 'Robin', 'salary': 11500}, {'name': 'Adam Wesker', 'salary': 10000}]}
{'_id': 'Finance', 'top_5_employees': [{'name': 'Mario', 'salary': 12000}, {'name': 'Yixuan', 'salary': 11000}, {'name': 'Elysia', 'salary': 10000}, {'name': 'Sepiroth', 'salary': 9000}, {'name': 'Alice', 'salary': 4500}]}

In [26]:
delete_result = collection.delete_many({'age': {'$lt': 25}})
print(f"\nBerhasil menghapus {delete_result.deleted_count} karyawan (usia < 25).")

Berhasil menghapus 1 karyawan (usia < 25).

In [27]:
report_pipeline = [
    {'$group': {
        '_id': '$department',
        'total_salary': {'$sum': '$salary'},
        'average_age': {'$avg': '$age'}
    }}
]
print("\n--- Laporan Total Gaji & Rata-Rata Usia per Departemen ---")
for result in collection.aggregate(report_pipeline):
    print(result)

--- Laporan Total Gaji & Rata-Rata Usia per Departemen ---
{'_id': 'IT', 'total_salary': 36200, 'average_age': 28.5}
{'_id': 'Security', 'total_salary': 35000, 'average_age': 39.0}
{'_id': 'Finance', 'total_salary': 46500, 'average_age': 30.8}
{'_id': 'Engineering', 'total_salary': 62000, 'average_age': 34.2}