In [ ]:
a = 5
a == 6

False

In [ ]:
i = 6
i > 5

True

In [ ]:
i = 2
i > 5

False

In [ ]:
i = 2
i != 6

True

In [ ]:
i = 6
i != 6

False

In [ ]:
"ACDC" == "Michael Jackson"

False

In [ ]:
"ACDC" != "Michael Jackson"

True

In [ ]:
'B' > 'A'

True

In [ ]:
'BA' > 'AB'

True

In [ ]:
"ba" >= "ba"

True

In [ ]:
age = 18

if age > 18:
  print("you can enter")

print("move on")

move on

In [ ]:
age = 19

if age > 18:
  print("you can enter")
else:
  print("go see meat loaf")

print("move on")

you can enter
move on

In [ ]:
age = 17

if age > 18:
  print("you can enter")
else:
  print("go see meat loaf")

print("move on")

go see meat loaf
move on

In [ ]:
age = 18

if age > 18:
  print("you can enter")
elif age == 18:
  print("go see pink floyd")
else:
  print("goo see meat loaf")

print("move on")

go see pink floyd
move on

In [ ]:
age = 300

if age > 18:
  print("you can enter")
elif age == 18:
  print("go see pink floyd")
else:
  print("goo see meat loaf")

print("move on")

you can enter
move on

In [ ]:
album_year = 1983

if album_year > 1980:
  print("album year is greater than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [ ]:
album_year = 1970

if album_year > 1980:
  print("album year is greater than 1980")

print('do something..')

do something..

In [ ]:
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

less than 1980
do something..

In [ ]:
album_year = 1983

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [ ]:
album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("album year was in between 1980 and 1989")

print("")
print("Do Stuff..")

album year was in between 1980 and 1989

Do Stuff..

In [ ]:
album_year = 1978

if(album_year < 1980) or (album_year > 1989):
    print ("album was not made in the 1980's")
else:
    print("the album was made in the 1980's ")

album was not made in the 1980's

In [ ]:
album_year = 1981

if(album_year < 1980) or (album_year > 1989):
    print ("album was not made in the 1980's")
else:
    print("the album was made in the 1980's ")

the album was made in the 1980's

In [ ]:
album_year = 1984

if not (album_year == '1984'):
    print ("album year is not 1984")

album year is not 1984

In [ ]:
rating = 8.5
if rating > 8:
  print ("This album is amazing")

This album is amazing

In [ ]:
rating = 9
if rating > 8:
  print("this album is amazing")
else:
  print("this album is ok")

this album is amazing

In [ ]:
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print ("this album came out already")

this album came out already

In [ ]:
umur = input()

if int(umur) >= 17:
  print("Boleh membuat SIM")
else:
  print("Tidak boleh membuat SIM")

19
Boleh membuat SIM

In [ ]:
nilai = input()

var_a = "A"
var_b1 = "B+"
var_b2 = "B"
var_c1 = "C+"
var_c2 = "C"
var_d = "D"
var_e = "E"

if int(nilai) >= 90:
  grade = var_a
elif int(nilai) >= 80:
  grade = var_b1
elif int(nilai) >= 70:
  grade = var_b2
elif int(nilai) >= 60:
  grade = var_c1
elif int(nilai) >= 50:
  grade = var_c2
elif int(nilai) >= 40:
  grade = var_d
else:
  grade = var_e

print("Cetak Grade = " + grade)

100
Cetak Grade = A

In [ ]:
nilai = input()

var_a = "A"
var_a_min = "A-"
var_ab = "A/B"
var_b_plus = "B+"
var_b = "B"
var_b_min = "B-"
var_bc = "B/C"
var_c_plus = "C+"
var_c = "C"
var_c_min = "C-"
var_cd = "C/D"
var_d_plus = "D+"
var_d = "D"
var_e = "E"
var_error = "Nilai tidak valid"


if float(nilai) >= 80 and float(nilai) <= 100:
   grade = var_a
elif float(nilai) >= 77.5 and float(nilai) <= 79.99:
   grade = var_a_min
elif float(nilai) >= 75 and float(nilai) <= 77.49:
   grade = var_ab
elif float(nilai) >= 72.5 and float(nilai) <= 74.49:
   grade = var_b_plus
elif float(nilai) >= 70 and float(nilai) <= 72.49:
  grade = var_b
elif float(nilai) >= 67.5 and float(nilai) <= 69.99:
  grade = var_b_min
elif float(nilai) >= 65 and float(nilai) <= 67.99:
  grade = var_bc
elif float(nilai) >= 62.5 and float(nilai) <= 64.99:
  grade = var_c_plus
elif float(nilai) >= 60 and float(nilai) <= 62.49:
  grade = var_c
elif float(nilai) >= 55 and float(nilai) <= 59.99:
  grade = var_c_min
elif float(nilai) >= 50 and float(nilai) <= 54.99:
  grade = var_cd
elif float(nilai) >= 45 and float(nilai) <= 49.99:
  grade = var_d_plus
elif float(nilai) >= 40 and float(nilai) <= 44.99:
  grade = var_d
elif float(nilai) >= 0 and float(nilai) <= 39.99:
  grade = var_e
else:
  grade = var_error


print("Cetak Grade = " + grade)

-10
Cetak Grade = Nilai tidak valid