In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)
print(len(thislist))

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

In [ ]:
list1 = ["abc", "34", True, 40, "male"]
print(list1)

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)
print(thislist[0])
print(thislist[1])
print(thislist[-1])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango", "mango"]
print(thislist[2:5])
print(thislist[:4])
print(thislist[2:])
print(thislist[-4:-1])
print(thislist[2:-2])

In [ ]:
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")
else :
  print("No")

In [ ]:
if "durian" in thislist:
  print("Yes, 'durian' is in the fruits list")
else :
  print("No")

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist)

thislist[1] = "blackcurrant"
print(thislist)

thislist[1:3] = ["banana", "watermelon"]
print(thislist)

thislist[1:3] = ["watermelon"]
print(thislist)

thislist.insert(2, "cherry")
print(thislist)

thislist.append("orange")
print(thislist)

thislist.insert(1, "orange")
print(thislist)

tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

thislist.remove("banana")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

thislist.pop()
print(thislist)

del thislist[0]
print(thislist)

del thislist

thislist.clear()
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(2):
  print(thislist[i])

apple
banana

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
baru = ["apple", "banana", "cherry", "kiwi", "mango"]
if "a" in baru:
  print("Yes, 'a' is in the fruits list")
else :
  print("No")

No

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

In [ ]:
newlist = [x for x in fruits]
print(newlist)

In [ ]:
newlist = [x for x in range(10)]
print(newlist)

In [ ]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

In [ ]:
newlist = [x.upper() for x in fruits]
print(newlist)

In [ ]:
newlist = ['hello' for x in fruits]
print(newlist)

In [ ]:
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

In [ ]:
#one item is tuple
thistuple = ("apple",)
print(type(thistuple))

#not
thistuple = ("apple")
print(type(thistuple))

In [ ]:
tuple1 = ("apple", "banana", "cherry") #string
tuple2 = (1, 5, 7, 9, 3) #integer
tuple3 = (True, False, False) #boolean

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

In [ ]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

In [ ]:
thistuple = ("apple","banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")
else :
  print("No, 'apple' is not in the fruits tuple")

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print('->before add new item')


y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)
print('->after add new item')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange","strawberry")
thistuple += y

print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

In [ ]:
fruits = ("apple", "banana", "cherry")

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

In [ ]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

In [ ]:
set2 = {"abc", 34, True, 40, "male"}
print(set2)

In [ ]:
set3 = {"abc", 34, True, 40, "male"}
print(set3)

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

In [ ]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

In [ ]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

In [ ]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}
z = x.symmetric_difference(y)
print(z)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

In [ ]:
print(len(thisdict))

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

In [ ]:
x = thisdict.get("model")
print(x)

In [ ]:
x = thisdict.keys()
print(x)

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x)

car["color"] = "white"

print(x)

In [ ]:
x = thisdict.values()
print(x)

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x)

car["year"] = 2020

print(x)

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x)

In [ ]:
x = thisdict.items()
print(x)

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x)

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")
else :
  print ("No")

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

In [ ]:
for x in thisdict:
  print(thisdict[x])

In [ ]:
for x in thisdict.values():
  print(x)

In [ ]:
for x in thisdict.keys():
  print(x)

In [ ]:
for x, y in thisdict.items():
  print(x, y)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

In [ ]:
print(myfamily["child2"]["name"])

In [6]:
data = {
        "Nama": "Acop",
        "Kelas": "12A",
        "Tanggal Lahir": "15-08-1945",
        "No HP": "081234567890",
        "Alamat": "Jl. Merdeka No. 10",
        "Hobi": ["Bermain Game", "Mengkarang Cerita", "Menggambar"]
    }


for key, value in data.items():
  if isinstance(value, list):
    print(f"{key}:")
    for index, hobi in enumerate(value, start=1):
      print(f" {index}. {hobi}")
  else:
    print(f"{key}: {value}")

Nama: Acop
Kelas: 12A
Tanggal Lahir: 15-08-1945
No HP: 081234567890
Alamat: Jl. Merdeka No. 10
Hobi:
 1. Bermain Game
 2. Mengkarang Cerita
 3. Menggambar