In [ ]:
print('Python is powerful')

In [ ]:
print('Good Morning!')
print('It is rainy today')

Good Morning!
It is rainy today

In [ ]:
print('Good Morning!', end = ' ')
print('It is cloudy today')

Good Morning! It is cloudy today

In [ ]:
print('New Year', 2023, 'See you soon!', sep= '. ')

New Year. 2023. See you soon!

In [ ]:
number = -10.6

name = "Teknologi Informasi"

print(5)

print(number)
print(name)

5
-10.6
Teknologi Informasi

In [ ]:
print('S1 Teknologi Informasi ' + 'Universitas Tidar')

S1 Teknologi Informasi Universitas Tidar

In [ ]:
x = 5
y = 10

print('The value of x is {} and y is {}'.format(x,y))

The value of x is 10 and y is 5

In [ ]:
num = input('Enter a number: ')

print('You Entered:', num)

print('Data type of num', type(num))

Enter a number: 143
You Entered: 143
Data type of num <class 'str'>

In [ ]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=67b119b9e763729515083623f8ff25e578dc6df45ba15f480b19e9ed76a1f126
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
!mkdir -p /resources/data
!wget -O /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2024-09-05 22:21:04--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/resources/data/Example1.txt’

/resources/data/Exa 100%[===================>]      45  --.-KB/s    in 0s

2024-09-05 22:21:04 (17.8 MB/s) - ‘/resources/data/Example1.txt’ saved [45/45]

In [ ]:
example1 = "/resources/data/Example1.txt"
file1 = open(example1, "r")

In [ ]:
file1.name

'/resources/data/Example1.txt'

In [ ]:
file1.mode

'r'

In [ ]:
FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
type(FileContent)

str

In [ ]:
file1.close()

In [ ]:
with open(example1, "r") as file1:
  FileContent = file1.read()
  print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
file1.closed

True

In [ ]:
print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
with open(example1, "r") as file1:
  print(file1.read(4))
  print(file1.read(4))
  print(file1.read(7))
  print(file1.read(15))

This
 is
line 1

This is line 2

In [ ]:
with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [ ]:
with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [ ]:
with open(example1, "r") as file1:
  i = 0;
  for line in file1:
    print("Iteration", str(i), ": ", line)
    i = i + 1;

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [ ]:
with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [ ]:
FileasList[0]

'This is line 1 \n'

In [ ]:
FileasList[1]

'This is line 2\n'

In [ ]:
FileasList[2]

'This is line 3'

In [ ]:
!mkdir -p /resources/data

In [ ]:
with open('/resources/data/Contoh2.txt', 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
with open('/resources/data/Contoh2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [ ]:
with open('/resources/data/Contoh2.txt', 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [ ]:
with open('/resources/data/Contoh2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [ ]:
with open('/resources/data/Contoh2.txt', 'a') as testwritefile:
  testwritefile.write("This is line C/n")

In [ ]:
with open('/resources/data/Contoh2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
with open('/resources/data/Contoh2.txt', 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")
    writefile.write("This is line C\n")

In [ ]:
with open('/resources/data/Contoh2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
with open('Contoh2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [ ]:
with open('Contoh2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
with open('Contoh2.txt', 'a') as testwritefile:
    testwritefile.write("This is line D\n")

In [ ]:
with open('Contoh2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

In [ ]:
with open('Contoh2.txt', 'r') as readfile:
    with open('Contoh3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [ ]:
with open('Contoh3.txt', 'r') as testwritefile:
    print(testwritefile.read())

In [ ]:
!mkdir -p /resources/data

In [ ]:
with open('/resources/data/Biodata.txt', 'w') as writefile:
    writefile.write("Nama : Muhammad Asyrof\n")
    writefile.write("Program Studi : S1 Teknologi Informasi\n")
    writefile.write("NPM : 2420506047\n")
    writefile.write("Alamat : Jl Beringin 1, Tidar Utara, Magelang Selatan\n")
    writefile.write("Hobi : Bermain Game, Desain UI/UX, Front End Developing\n")
    writefile.write("Email : asyrofmuhammad14@gmail.com\n")

In [ ]:
with open('/resources/data/Biodata.txt', 'r') as testwritefile:
    print(testwritefile.read())

Nama : Muhammad Asyrof
Program Studi : S1 Teknologi Informasi
NPM : 2420506047
Alamat : Jl Beringin 1, Tidar Utara, Magelang Selatan
Hobi : Bermain Game, Desain UI/UX, Front End Developing
Email : asyrofmuhammad14@gmail.com

In [ ]:
with open('/resources/data/Biodata.txt', 'r') as testwritefile:
    for line in testwritefile:
        if "Nama" in line or "Program Studi" in line or "Email" in line:
            print(line.strip())

Nama : Muhammad Asyrof
Program Studi : S1 Teknologi Informasi
Email : asyrofmuhammad14@gmail.com

In [ ]:
with open('/resources/data/Biodata.txt', 'r') as readfile:
  with open('/resources/data/BIODATA-BARU.txt','w') as writefile:
     for line in readfile:
                writefile.write(line)

In [ ]:
with open('/resources/data/BIODATA-BARU.txt', 'r') as testwritefile:
    for line in testwritefile:
        if "Nama" in line or "NPM" in line or "Program Studi" in line or "Alamat" in line:
            print(line.strip())

Nama : Muhammad Asyrof
Program Studi : S1 Teknologi Informasi
NPM : 2420506047
Alamat : Jl Beringin 1, Tidar Utara, Magelang Selatan

In [ ]:
print ("Selamat datang di Toko Maju Jaya")
print ("Senin, 4 September 2023       13.05")
print(" ")

print ("DAFTAR BELANJA:")
item1 = 'Sabun'
item2 = 'Shampo'
item3 = 'Mie instant'
item4 = 'Detergen'
harga1 = 10000
harga2 = 15000
harga3 = 5000
harga4 = 17500

total = harga1 + harga2 + harga3 + harga4

print(item1, '        = Rp ' + str(harga1))
print(item2, '        = Rp ' + str(harga2))
print(item3, '        = Rp ' + str(harga3))
print(item4, '        = Rp ' + str(harga4))

print(" ")
print("Total = Rp " + str(total))

with open('Kuitansi.txt', 'w') as writefile:
        writefile.write("Selamat Datang di Toko Maju Jaya\n")
        writefile.write(" \n")
        writefile.write("Kuitansi - 4 Septermber 2023\n")
        writefile.write(" \n")
        writefile.write(item1 + " = Rp " + str(harga1) + "\n")
        writefile.write(item2 + " = Rp " + str(harga2) + "\n")
        writefile.write(item3 + " = Rp " + str(harga3) + "\n")
        writefile.write(item4 + " = Rp " + str(harga4) + "\n")
        writefile.write(" \n")
        writefile.write("Total Belanja =" + str(total))

Selamat datang di Toko Maju Jaya
Senin, 4 September 2023       13.05

DAFTAR BELANJA:
Sabun         = Rp 10000
Shampo         = Rp 15000
Mie instant         = Rp 5000
Detergen         = Rp 17500

Total = Rp 47500