In [ ]:
class MyClass:
  x = 5

In [ ]:
p1 = MyClass()
print(p1.x)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

In [ ]:
p1.age = 40

In [ ]:
del p1.age

In [ ]:
del p1

In [ ]:
class Person:
  pass

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = Person("John", "Doe")
x.printname()

In [ ]:
class Student(Person):
  pass

In [ ]:
x = Student("Mike", "Olsen")
x.printname()

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2023

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2023)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

In [ ]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

In [ ]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

In [ ]:
mystr = "banana"

for x in mystr:
  print(x)

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

In [ ]:
x = "Hello World!"

print(len(x))

In [ ]:
mytuple = ("apple", "banana", "cherry")

print(len(mytuple))

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(thisdict))

In [ ]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

In [ ]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

In [4]:
class AlatTulis:
    def __init__(self, nama, stok, harga_satuan):
        self.nama = nama
        self.stok = stok
        self.harga_satuan = harga_satuan
        self.harga = self.stok * self.harga_satuan

    # Setter
    def set_nama(self, nama):
        self.nama = nama

    def set_stok(self, stok):
        self.stok = stok

    def set_harga_satuan(self, harga_satuan):
        self.harga_satuan = harga_satuan

    def set_harga(self, harga):
        self.harga = self.stok * self.harga_satuan

    # Getter
    def get_nama(self):
        return self.nama

    def get_stok(self):
        return self.stok

    def get_harga_satuan(self):
        return self.harga_satuan

    def get_harga(self):
        return self.harga


class Transaksi:
    def __init__(self):
        self.total_harga = 0

    # Setter
    def tambah_ke_total(self, harga):
        self.total_harga += harga

    # Getter
    def get_total_harga(self):
        return self.total_harga


bolpoint = AlatTulis("Bolpoint", 10, 2000)
pensil = AlatTulis("Pensil", 10, 1000)
penghapus = AlatTulis("Penghapus", 10, 500)

transaksi = Transaksi()

transaksi.tambah_ke_total(bolpoint.get_harga())
transaksi.tambah_ke_total(pensil.get_harga())
transaksi.tambah_ke_total(penghapus.get_harga())

print("Detail Barang:")
print(f"{bolpoint.get_nama()}: Stok {bolpoint.get_stok()}, Harga Satuan Rp.{bolpoint.get_harga_satuan()}, Total Harga Rp.{bolpoint.get_harga()}")
print(f"{pensil.get_nama()}: Stok {pensil.get_stok()}, Harga Satuan Rp.{pensil.get_harga_satuan()}, Total Harga Rp.{pensil.get_harga()}")
print(f"{penghapus.get_nama()}: Stok {penghapus.get_stok()}, Harga Satuan Rp.{penghapus.get_harga_satuan()}, Total Harga Rp.{penghapus.get_harga()}")

print("\nTotal Harga Transaksi:")
print(f"Rp.{transaksi.get_total_harga()}")

Detail Barang:
Bolpoint: Stok 10, Harga Satuan Rp.2000, Total Harga Rp.20000
Pensil: Stok 10, Harga Satuan Rp.1000, Total Harga Rp.10000
Penghapus: Stok 10, Harga Satuan Rp.500, Total Harga Rp.5000

Total Harga Transaksi:
Rp.35000